vti_encoding:SR|utf8-nl
http\://yahoo.com:360/index.htm index.htm
360/h3.jpg:360/index.htm
360/logo.jpg:360/index.htm
360/adheader.jpg:360/index.htm
360/video1.htm:360/index.htm
360/bg.jpg:360/index.htm
360/h1.jpg:360/index.htm
360/sys_main.jpg:360/index.htm
http\://www.youtube.com/v/jwntznhoe3e:video1.htm
360/highlights.jpg:360/index.htm
360/searchbg.jpg:360/index.htm
360/h2.jpg:360/index.htm
360/_private/form_results.txt:360/index.htm
http\://msn.com:360/index.htm index.htm
http\://google.com:360/index.htm index.htm
