body { 
    	font-family: Arial, sans-serif;
    	margin-top: 0px;
    	margin-left: 10px;
    	background-image: url(../../images/bg.jpg);
    	background-position: bottom right;
    	background-attachment: scroll;
    	background-repeat: no-repeat; }
.blackborder { 
	border: 2px solid black; }
.left-side { 
	width: 30%;
	text-align: justify;
	vertical-align: top;
	padding-right: 20px; }
.right-side { 
	width: 70%;
	border-left: 1px solid black;
	padding-left: 20px; }
.rheader { 
	font-size: large;
	font-weight: bold; }
.sub {
	color: #666666;
	font-size: small; }

img { 
	border: 0px; }
input.search { 
	border: 2px solid #cccccc; }
input.button { 
	background: #ffffff;
	color: #000000;
	border: 2px solid #cccccc; }
