.sys-ms { 
	color: #000000;
	background: #99ff99;
	font-size: small; }
.sys-ps { 
	color: #000000;
	background: #9999ff;
	font-size: small; }
.sys-wiids { 
	color: #000000;
	background: #ff9999;
	font-size: small; }
.sys-sega { 
	color: #000000;
	background: #666699;
	font-size: small; }
.sys-atari { 
	color: #000000;
	background: #999999;
	font-size: small; }
.sys-misc { 
	color: #000000;
	background: #cccccc;
	font-size: small; }