vti_encoding:SR|utf8-nl
http\://www.slashdot.org:index.htm music.htm
http\://www.myspace.com/phosphorusjoel:index.htm music.htm
http\://www.gamespot.com:index.htm music.htm
http\://www.google.com:index.htm music.htm
http\://www.purevolume.com:index.htm music.htm
